Import libraries

In [16]:
import numpy as np
import pandas as pd
import tensorflow
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Dropout
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Get the data

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Remove unwanted columns

In [3]:
data.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

Checking whether column is deleted or not

In [4]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Checking Missing values

In [5]:
data.isnull().sum()/len(data)*100

CreditScore        0.0
Geography          0.0
Gender             0.0
Age                0.0
Tenure             0.0
Balance            0.0
NumOfProducts      0.0
HasCrCard          0.0
IsActiveMember     0.0
EstimatedSalary    0.0
Exited             0.0
dtype: float64

Splitting the features and target variable

In [6]:
x = data.drop(['Exited'],axis=1)
y = data[['Exited']]

In [7]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

Converting 'Geography' and 'Gender' column in numerical form

In [8]:
geo = pd.get_dummies(x['Geography'],drop_first=True)
gender = pd.get_dummies(x['Gender'],drop_first=True)
x = pd.concat([x,geo,gender],axis=1)
x.drop(['Geography','Gender'],axis=1,inplace=True)

In [9]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [10]:
x.shape

(10000, 11)

train test split

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

Creating ANN

In [12]:
model = Sequential()

In [17]:
model.add(Dense(100,activation='relu',kernel_initializer='he_uniform',input_shape=(11,)))
model.add(Dropout(0.2))
model.add(Dense(50,activation='sigmoid'))
model.add(Dropout(0.5))
model.add(Dense(25,activation='relu',kernel_initializer='he_uniform'))
model.add(Dropout(0.7))
model.add(Dense(1,activation='sigmoid'))

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               1200

 dropout (Dropout)           (None, 100)               0

 dense_1 (Dense)             (None, 50)                5050

 dropout_1 (Dropout)         (None, 50)                0

 dense_2 (Dense)             (None, 25)                1275

 dropout_2 (Dropout)         (None, 25)                0

 dense_3 (Dense)             (None, 1)                 26

=================================================================
Total params: 7,551
Trainable params: 7,551
Non-trainable params: 0
_________________________________________________________________

Compile the model

In [19]:
model.compile(optimizer='SGD',loss='binary_crossentropy',metrics='accuracy')

Fit the model

In [20]:
model.fit(x_train,y_train,batch_size=10,epochs=50,validation_split=0.30)

Epoch 1/50
560/560 [==============================] - 2s 2ms/step - loss: 0.6125 - accuracy: 0.7407 - val_loss: 0.5152 - val_accuracy: 0.7887
Epoch 2/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7941 - val_loss: 0.5235 - val_accuracy: 0.7887
Epoch 3/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5195 - accuracy: 0.7961 - val_loss: 0.5154 - val_accuracy: 0.7887
Epoch 4/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5158 - accuracy: 0.7966 - val_loss: 0.5113 - val_accuracy: 0.7887
Epoch 5/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5116 - accuracy: 0.7970 - val_loss: 0.5138 - val_accuracy: 0.7887
Epoch 6/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5094 - accuracy: 0.7970 - val_loss: 0.5137 - val_accuracy: 0.7887
Epoch 7/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5074 - accuracy: 0.7970 - val_loss: 0.5125 - val_accuracy: 0.7887
Epoch 8/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5085 - accuracy: 0.7970 - val_loss: 0.5138 - val_accuracy: 0.7887
Epoch 9/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5067 - accuracy: 0.7970 - val_loss: 0.5130 - val_accuracy: 0.7887
Epoch 10/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5083 - accuracy: 0.7970 - val_loss: 0.5138 - val_accuracy: 0.7887
Epoch 11/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5048 - accuracy: 0.7970 - val_loss: 0.5128 - val_accuracy: 0.7887
Epoch 12/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5069 - accuracy: 0.7970 - val_loss: 0.5145 - val_accuracy: 0.7887
Epoch 13/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5061 - accuracy: 0.7970 - val_loss: 0.5142 - val_accuracy: 0.7887
Epoch 14/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5064 - accuracy: 0.7970 - val_loss: 0.5146 - val_accuracy: 0.7887
Epoch 15/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5069 - accuracy: 0.7970 - val_loss: 0.5153 - val_accuracy: 0.7887
Epoch 16/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5064 - accuracy: 0.7970 - val_loss: 0.5143 - val_accuracy: 0.7887
Epoch 17/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5064 - accuracy: 0.7970 - val_loss: 0.5152 - val_accuracy: 0.7887
Epoch 18/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5059 - accuracy: 0.7970 - val_loss: 0.5152 - val_accuracy: 0.7887
Epoch 19/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5073 - accuracy: 0.7970 - val_loss: 0.5154 - val_accuracy: 0.7887
Epoch 20/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5067 - accuracy: 0.7970 - val_loss: 0.5154 - val_accuracy: 0.7887
Epoch 21/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5060 - accuracy: 0.7970 - val_loss: 0.5156 - val_accuracy: 0.7887
Epoch 22/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5066 - accuracy: 0.7970 - val_loss: 0.5154 - val_accuracy: 0.7887
Epoch 23/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5060 - accuracy: 0.7970 - val_loss: 0.5154 - val_accuracy: 0.7887
Epoch 24/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5046 - accuracy: 0.7970 - val_loss: 0.5152 - val_accuracy: 0.7887
Epoch 25/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5061 - accuracy: 0.7970 - val_loss: 0.5157 - val_accuracy: 0.7887
Epoch 26/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5044 - accuracy: 0.7970 - val_loss: 0.5154 - val_accuracy: 0.7887
Epoch 27/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5055 - accuracy: 0.7970 - val_loss: 0.5151 - val_accuracy: 0.7887
Epoch 28/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5048 - accuracy: 0.7970 - val_loss: 0.5143 - val_accuracy: 0.7887
Epoch 29/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5057 - accuracy: 0.7970 - val_loss: 0.5151 - val_accuracy: 0.7887
Epoch 30/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5061 - accuracy: 0.7966 - val_loss: 0.5154 - val_accuracy: 0.7887
Epoch 31/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5054 - accuracy: 0.7970 - val_loss: 0.5152 - val_accuracy: 0.7887
Epoch 32/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5068 - accuracy: 0.7970 - val_loss: 0.5158 - val_accuracy: 0.7887
Epoch 33/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5066 - accuracy: 0.7970 - val_loss: 0.5158 - val_accuracy: 0.7887
Epoch 34/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5065 - accuracy: 0.7970 - val_loss: 0.5155 - val_accuracy: 0.7887
Epoch 35/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5054 - accuracy: 0.7970 - val_loss: 0.5151 - val_accuracy: 0.7887
Epoch 36/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5060 - accuracy: 0.7970 - val_loss: 0.5166 - val_accuracy: 0.7887
Epoch 37/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5058 - accuracy: 0.7970 - val_loss: 0.5155 - val_accuracy: 0.7887
Epoch 38/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5059 - accuracy: 0.7970 - val_loss: 0.5165 - val_accuracy: 0.7887
Epoch 39/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5057 - accuracy: 0.7970 - val_loss: 0.5159 - val_accuracy: 0.7887
Epoch 40/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5056 - accuracy: 0.7970 - val_loss: 0.5156 - val_accuracy: 0.7887
Epoch 41/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5063 - accuracy: 0.7970 - val_loss: 0.5159 - val_accuracy: 0.7887
Epoch 42/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5055 - accuracy: 0.7970 - val_loss: 0.5154 - val_accuracy: 0.7887
Epoch 43/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5059 - accuracy: 0.7970 - val_loss: 0.5154 - val_accuracy: 0.7887
Epoch 44/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5064 - accuracy: 0.7970 - val_loss: 0.5153 - val_accuracy: 0.7887
Epoch 45/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5056 - accuracy: 0.7970 - val_loss: 0.5154 - val_accuracy: 0.7887
Epoch 46/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5052 - accuracy: 0.7970 - val_loss: 0.5152 - val_accuracy: 0.7887
Epoch 47/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5054 - accuracy: 0.7970 - val_loss: 0.5156 - val_accuracy: 0.7887
Epoch 48/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5060 - accuracy: 0.7970 - val_loss: 0.5157 - val_accuracy: 0.7887
Epoch 49/50
560/560 [==============================] - 1s 1ms/step - loss: 0.5055 - accuracy: 0.7970 - val_loss: 0.5158 - val_accuracy: 0.7887
Epoch 50/50
560/560 [==============================] - 1s 2ms/step - loss: 0.5062 - accuracy: 0.7970 - val_loss: 0.5156 - val_accuracy: 0.7887

Doing prediction

In [21]:
y_predict= model.predict(x_test)

In [22]:
y_predict = np.where(y_predict>0.5,1,0)

In [23]:
y_predict

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

Checking model accuracy

In [24]:
print(accuracy_score(y_test,y_predict))

0.8035

Saving the model

In [25]:
model.save('Churn_modelling.h5')

Loading the model and predicting

In [36]:
#from tensorflow.keras import models
#test_model = models.load_model('Churn_modelling.h5')
#test_model.predict([])